<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="5.0"
	metadata-complete="true">
	<servlet>
		<description></description>
		<display-name>DispatcherServlet</display-name>
		<servlet-name>DispatcherServlet</servlet-name>
		<servlet-class>controller.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DispatcherServlet</servlet-name>
		<url-pattern>/DispatcherServlet</url-pattern>
	</servlet-mapping>
	<display-name>adminPro</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SignInController</display-name>
		<servlet-name>SignInController</servlet-name>
		<servlet-class>controller.SignInController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignInController</servlet-name>
		<url-pattern>/SignInController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CheckDuplicateIdController</display-name>
		<servlet-name>CheckDuplicateIdController</servlet-name>
		<servlet-class>controller.CheckDuplicateIdController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckDuplicateIdController</servlet-name>
		<url-pattern>/CheckDuplicateIdController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>model.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>model.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TotalCountController</display-name>
		<servlet-name>TotalCountController</servlet-name>
		<servlet-class>controller.TotalCountController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TotalCountController</servlet-name>
		<url-pattern>/TotalCountController</url-pattern>
	</servlet-mapping>
</web-app>